__pycache__/
*.log
*.bak
*.db
uploads/
index_data/
bg_config.json
model_config.json
.bgelev
.bgelevhb
.bgagepid
venv/
.venv/
env/
.venv-build/
build/
dist/
build-temp/
backups/
*.spec
plugins/ocr/tesseract/
plugins/ocr/*.exe
